In [23]:
import pandas as pd
import numpy as np
import panel as pn
import datetime as dt
pn.extension('tabulator')

import hvplot.pandas

In [60]:
url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'
data = pd.read_csv(url)
idata = data.interactive()
data['Date_reported'] = pd.to_datetime(data['Date_reported']).dt.date

In [83]:
data

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
271597,2023-02-17,ZW,Zimbabwe,AFRO,0,263642,0,5662
271598,2023-02-18,ZW,Zimbabwe,AFRO,0,263642,0,5662
271599,2023-02-19,ZW,Zimbabwe,AFRO,0,263642,0,5662
271600,2023-02-20,ZW,Zimbabwe,AFRO,0,263642,0,5662
271601,2023-02-21,ZW,Zimbabwe,AFRO,0,263642,0,5662

In [82]:
countries = data.Country.array
countries = list(dict.fromkeys(countries))

In [97]:
start_date_slider = pn.widgets.DateSlider(name='Start Date', start=dt.date(2020, 1, 3), end=dt.date(2023,2,21))
end_date_slider = pn.widgets.DateSlider(name='End Date', start=dt.date(2020, 1, 3), end=dt.date(2023,2,21))
country = pn.widgets.Select(name='Countries', options=countries)
column = pn.widgets.Select(name='Column', options=['New_cases','Cumulative_cases','New_deaths','Cumulative_deaths'])

In [104]:
#<
cov_pipeline = (
    idata[
        (idata.Date_reported >=start_date_slider) &
        (idata.Date_reported <= end_date_slider) &
        (idata.Country == country)
    ]
    .loc[:,['Date_reported','Country',column]]
)

In [ ]:
cov_pipeline

In [105]:
cov_plot=cov_pipeline.hvplot(x='Date_reported',y=column)
cov_plot

BokehModel(combine_events=True, render_bundle={'docs_json': {'8f3d7b6f-5322-4448-9ff4-767c106d25e9': {'defs': …

In [143]:
data[['WHO_region','Country']].drop_duplicates().sort_values(by=['WHO_region','Country'])

       WHO_region            Country
2292         AFRO            Algeria
5730         AFRO             Angola
24066        AFRO              Benin
30942        AFRO           Botswana
36672        AFRO       Burkina Faso
...           ...                ...
246390       WPRO              Tonga
253266       WPRO             Tuvalu
263580       WPRO            Vanuatu
265872       WPRO           Viet Nam
267018       WPRO  Wallis and Futuna

[237 rows x 2 columns]